@charset "utf-8";
/* CSS Document */

h1, h2 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
h3, h3 {
	background-color: aquamarine;
}
p {
	background-color: lightpink;
